@{
    ViewBag.Title = "Subscription Clients";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="col-md-9">
            <h3>
                Subscription Clients
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <div id="search_filter" class="search-filter">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Search</span>
                            @Html.TextBox("SearchValue", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="btnsearch" type="button" class="btn btn-success btn-sm">Search</button>
                        <button id="btnreset" type="button" class="btn btn-warning btn-sm">Reset</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table id="gridsubscription" data-sort-name="Company" data-sort-order="asc"
                   data-toggle="table"
                   data-url="@(ViewBag.ApiUrl+ "api/all/client/getallsubscriptionclient")"
                   data-queryparams="getSearchParam"
                   data-searchselector="#search_filter"
                   data-pagination="true" class="table"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-field="Company" data-align="center" data-sortable="true">Company</th>
                        <th data-field="ContractRenewalDate" data-align="center" data-formatter="dateformatter" data-sortable="true">Contract Renewal Date</th>
                        <th data-field="MonthlySubscription" data-align="center" data-sortable="true">Monthly Subscription</th>
                        <th data-field="PaymentMonths" data-align="center" data-sortable="true">Payment Months</th>
                        <th data-field="SubscriptionBasis" data-align="center" data-sortable="true">Subscription Basis</th>
                        <th data-field="SubscriptionDate" data-align="center" data-formatter="dateformatter" data-sortable="true">Subscription Date</th>
                        <th data-field="NextSubscriptionDate" data-align="center" data-formatter="dateformatter" data-sortable="true">NextSubscription Date</th>
                    </tr>

                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnsearch2').on('click', function () {
                if ($.trim($("#SearchValue").val()) == "") {
                    AlertNotify("Validations!", "Please enter search text", "bg-warning")
                    return;
                }
                if (typeof $('#grid').attr('data-toggle') === 'undefined') {
                    $('#grid').attr('data-toggle', 'table');
                    BindBtTable('body');
                } else {
                    $('#search_filter #btnsearch').click();
                }
                $('#grid').removeClass('hide');
            });

            $("#gridsubscription").on("load-success.bs.table", function (e, data) {
                search_filter["total"] = data.total;
            })
        });

    </script>
}