@{
    ViewBag.Title = "Manage Matters";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="col-md-9">
            <h3>
                Current Matters
            </h3>
        </div>
        <div class="heading-elements text-right col-md-3">
            <a href="@Url.Action("Create")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#popupmodals" data-success="popupsuccess" class="pull-left-sm btn btn-default">
                <i class="glyphicon glyphicon-plus-sign"></i>
                &nbsp;Matters
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        <div id="serach_filter" class="search-filter">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Search</span>
                            @Html.TextBox("SearchValue", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="btnserach" type="button" class="btn btn-success btn-sm">Search</button>
                        <button id="btnreset" type="button" class="btn btn-warning btn-sm">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table id="grid" data-sort-name="FirstName" data-sort-order="asc"
                   data-toggle="table"
                   data-url="@(ViewBag.ApiUrl + "api/Common/matters/getall")"
                   data-queryparams="getSearchParam"
                   data-searchselector="#search_filter"
                   data-pagination="true" class="table"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th data-url="Common/Matters/Edit" data-align="center" data-width="5%" data-field="Id" data-formatter="tbl_Edit_Popup">Edit Matter</th>
                        <th data-field="" data-sortable="true">Date</th>
                        <th data-field="" data-sortable="true">Client</th>
                        <th data-field="" data-sortable="true">Area of Law</th>
                        <th data-field="" data-sortable="true">Consultant</th>
                        <th data-field="" data-sortable="true">Work Rate</th>
                        <th data-field="" data-sortable="true">Box</th>
                        <th data-field="" data-sortable="true">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnsearch').on('click', function () {
                if ($.trim($("#SearchValue").val()) == "") {
                    AlertNotify("Validations!", "Please enter search text", "bg-warning")
                    return;
                }
                if (typeof $('#grid').attr('data-toggle') == 'undefined') {
                    $('#grid').attr('data-toggle', 'table');
                    BindBtTable('body');
                } else {
                    $('#search_filter #btnsearch').click();
                }
                $('#grid').removeClass('hide');
            });
        });
    </script>
}