<div class="modal fade" id="about" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <div class="article-content" style="height:400px;overflow:auto;">
                    <div><p>Sample Magic is the world’s leading provider of musical components and sound samples to producers across a wide range of genres.</p><p>For over ten years we've specialised in the finest cutting-edge audio, plugins, apps and courses, building a reputation for unqiue, award-winning products. It’s why Computer Music magazine call us “one of the elite sample vendors”, why Beatport said our sounds “rock in ways other developers only dream of” and Keyboard magazine said we offered “the best sounding loop libraries we have ever encountered”. It’s also why we were awarded the Remix Magazine Sample Collection of the Year Award.</p><p>Every loop or sample we release is masterfully crafted by the best producers in the industry and is guaranteed 100% copyright cleared for your peace of mind, meaning they can be used freely in your productions without hesitation.</p><p>And we’re not just about sounds..</p><p>We’re also publishers of the award-winning Secrets of House Music Production book and Sound-on-Sound editor Paul White’s The Producer’s Manual, developers of various music production apps and run a series of courses on dance music production and the wider music industry. Sample Magic is the world’s leading provider of pro-audio loops and samples to music producers across a range of genres, from house and electro through dubstep to disco to chillout and soundtrack.</p><p>We love to hear from you - whether you’ve used one of our sounds in your tracks or are interested in working with us, please reach out and&nbsp;<a href="../../contact">let us know</a>.</p></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>