<div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact</h4>
            </div>
            <div class="modal-body">
                <div class="article-content" style="max-height:400px;overflow:auto;">
                  <h2><a href="@ViewBag.BasePath">Health Freaks</a></h2>
                    <p>8-1-523/228, 8-1-523/256, XYZ. CITY</p>
                    <p><i class="glyphicon glyphicon-phone"></i>Phone: <strong>99999 99999</strong></p>
                    <p><i class="glyphicon glyphicon-link"></i>Web: <strong><a href="#" target="_blank">www.xyz.com</a></strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>