@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_OutsideLayout.cshtml";
}
<div class="panel panel-body login-form">
    <div class="text-center">
        @*<img src="~/assets/images/logo/hf.png" />*@
        <img src="~/assets/images/logo-1.png" style="width:280px;" />
        <h5 class="content-group-lg">Forgot <small class="display-block"> your password?</small></h5>

        @using ( Ajax.BeginForm("", "", null,
                            new AjaxOptions {
                                HttpMethod = "POST",
                                Url = ViewBag.ApiUrl + "api/common/account/forgotpassword",
                                OnSuccess = "SuccessForgotPassword",
                                OnFailure = "Failed"
                            }, new { }
                            ) ) {
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
                <div class="form-control-feedback">
                    <i class="icon-mention text-muted"></i>
                </div>
            </div>
            <div class="text-center">
                <button type="button" onclick="GoToUrl('Account/Login')" class="btn bg-slate pull-left">Back</button>
                <button type="submit" class="btn bg-blue pull-right">Email Link</button>                
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function SuccessForgotPassword(data) {
            if (isSuccess(data)) {
                bootbox.alert({
                    title: "Success",
                    message: data.Messages
                });
            }
        }
    </script>
}
